<div align="center"><h2>PHASE 5 CAPSTONE PROJECT</h2></div>
<div align="center"><h2>Predictive Modeling for Flight Passenger Preferences and Booking Patterns in Horizon Airlines</h2></div>

# Group Members

* Kamande Karigi
* Lewis Otsieka
* Marion Jelimo
* Titus Kilonzo Mutuku
* Yusra Noor

# BUSINESS UNDERSTANDING

## INTRODUCTION
Horizon Airlines, a prominent player in the aviation industry, stands as a cornerstone of reliable air travel services. As a leading airline company, Horizon Airlines is dedicated to providing safe, efficient, and seamless travel experiences for passengers across Kenya. With a fleet of modern aircraft and a commitment to operational excellence, Horizon Airlines has positioned itself as a trailblazer in the aviation sector. Recognizing the challenges and complexities inherent in managing a vast network of flights, passenger preferences, and operational logistics, Horizon Airlines has enlisted our expertise. Our team has been entrusted with the task of implementing advanced analytics to derive valuable insights from the company's extensive datasets. By harnessing the power of data-driven decision-making, our goal is to assist Horizon Airlines in optimizing its operations, enhancing customer experiences, and maintaining a competitive edge in the dynamic aviation landscape.

## PROBLEM STATEMENT
In the aftermath of the COVID-19 pandemic, the aviation industry is grappling with a multifaceted challenge to revitalize its operations and regain passenger trust. The problem revolves around understanding the intricate dynamics of customer behavior post-COVID, with a focus on influencing factors such as travel preferences, safety concerns, and the demand for additional services. It is crucial for airlines to tailor their services effectively with respect to the specific needs and concerns of passengers, utilising available data to inform effective safety measures, extra baggage, preferred seating, in-flight meals and other passenger preferences. This project provides an opportunity to investigate post-pandemic travel, and guide Horizon airlines to craft strategies that align with evolving customer expectations and foster a robust recovery.

## THE MAIN OBJECTIVES

To develop a model that learns over the available customer booking data, whose inferences improve or smooth out Horizon airlines' services.

## THE SPECIFIC OBJECTIVES

1. To improve booking conversion rates.
2. To enhance customer segmentation by identifying distinct customer segments based on booking patterns and use the information to tailor marketing strategies, services or offers to specific groups.
3. To increase ancilliary service adoption and optimize marketing or pricing strategies for these services.
4. Optimize Operational Efficiency using patterns related to flight_day and flight_hour to optimize flight schedules, staffing, and other operational aspects.
5. Improve route specific strategies.

These objectives can be interconnected, and addressing one may positively impact others.

## RESEARCH QUESTIONS

1. Booking conversion analysis:
What are the primary factors inluencing booking completion and how do the vary across different sales channels?
Can the `purchase_lead` time be optimized to improve booking conversion rates without adversely affecting other aspects? 

The most important factor with a predictive model is the quality of the data you use to train the machine learning algorithms. For this task, you must manipulate and prepare the provided customer booking data so that you can build a high-quality predictive model.

With your predictive model, it is important to interpret the results in order to understand how “predictive” the data really was and whether we can feasibly use it to predict the target outcome.
Therefore, you should evaluate the model's performance and output how each variable contributes to the predictive model's power.

2. Flight duration:
Which features are most significant in trying to predict flight duration?
How do aspects such as num of passengers and length of stay relate to flight duration?

3. Customer segmentation:
What are the distinct customer segments based on booking patterns, and how do these segments differ in terms of preferences and behaviors?
How can personalized marketing strategies be developed for each identified segment?

4. Ancillary Service Adoption:
What factors drive customers to opt for extra baggage, preferred seats, or in-flight meals, and are there cross-correlations between these preferences?
Can targeted promotions or bundling strategies be implemented to increase the adoption of these services?

5. Operational Efficiency Optimization:
How do `flight_day` and f`light_hour` affect booking patterns, and how can flight schedules be optimized to match demand?
Are there specific routes (`route`) that exhibit distinct patterns in terms of demand and booking behavior?

6. Route-specific Strategies:
How do customer preferences and behaviors vary across different flight routes, and what marketing or pricing strategies can be implemented for each route?
Are there external factors, such as events or seasons, that significantly impact booking patterns on specific routes?

## DEFINING METRICS OF SUCCESS
1. Booking Conversion Rates: 
Metric: Percentage of completed bookings (`booking_complete`).
Success Criteria: Increase in overall booking conversion rates, with a target improvement percentage.

2. Flight Duration Prediction:
Metric: Mean Absolute Error (MAE) or Root Mean Squared Error (RMSE) in predicting `flight_duration`.
Success Criteria: Decrease in prediction error, indicating more accurate flight duration predictions.

3. Customer Segmentation:
Metric: Silhouette Score or Homogeneity Score for clustering quality.
Success Criteria: Improved cluster separation and cohesion, indicating well-defined customer segments.

4. Ancillary Service Adoption:
Metric: Percentage of customers opting for extra baggage, preferred seats, or in-flight meals.
Success Criteria: Increase in adoption rates for targeted ancillary services.

5. Operational Efficiency Optimization:
Metric: Percentage of flights scheduled during peak demand days.
Success Criteria: Optimization of flight schedules with an increase in the proportion of flights scheduled during peak demand times.

6. Route-specific Strategies:
Metric: Percentage increase in bookings for specific routes.
Success Criteria: Successful implementation of targeted marketing or pricing strategies leading to increased bookings on selected routes. 

8. Customer Experience Enhancement:
Metric: Customer Satisfaction Score (CSAT) based on post-travel surveys.
Success Criteria: Increase in overall CSAT scores, indicating enhanced customer experience.

Each metric aligns with the specific objectives and is measurable over time. Feedback will be used to adjust strategies or models as needed to continuously improve performance.

## DATA UNDERSTANDING

The dataset consists of 50,000 entries and comprises 15 columns. It includes both numerical and categorical features, providing insights into flight passenger preferences and booking patterns. Below is an overview of the dataset columns:

* num_passengers - Represents the number of passengers for each booking.

* sales_channel - Denotes the specific channel through which flight bookings were made.

* trip_type - Indicates the type of trip, distinguishing between one-way and round-trip bookings.

* purchase_lead - Represents the lead time (in days) between considering and making a flight purchase.

* length_of_stay - Captures the duration of the stay associated with each flight booking.

* flight_hour - Specifies the hour of the day at which the flight is scheduled.

* flight_day - Records the date of the flight booking.

* route - Describes the specific route of the flight.

* booking_origin - Indicates the origin of the booking, providing insight into the geographic source.

* wants_extra_baggage - Binary variable indicating whether passengers express a desire for additional baggage.

* wants_preferred_seat - Binary variable indicating whether passengers express a preference for specific seating.

* wants_in_flight_meals - Binary variable indicating whether passengers express a desire for in-flight meals.

* flight_duration - Captures the total duration of the flight for each booking.

* booking_complete - Binary variable indicating whether the flight booking process is completed.

## DATA PROCESSING

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns

In [35]:
df = pd.read_csv('customer_booking.csv', encoding='latin-1')
df.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0
3,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,0,1,5.52,0
4,2,Internet,RoundTrip,68,22,15,Wed,AKLDEL,India,1,0,1,5.52,0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   num_passengers         50000 non-null  int64
 1   sales_channel          50000 non-null  object
 2   trip_type              50000 non-null  object
 3   purchase_lead          50000 non-null  int64
 4   length_of_stay         50000 non-null  int64
 5   flight_hour            50000 non-null  int64
 6   flight_day             50000 non-null  object
 7   route                  50000 non-null  object
 8   booking_origin         50000 non-null  object
 9   wants_extra_baggage    50000 non-null  int64
 10  wants_preferred_seat   50000 non-null  int64
 11  wants_in_flight_meals  50000 non-null  int64
 12  flight_duration        50000 non-null  float64
 13  booking_complete       50000 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.3+ MB

The DataFrame has 50,000 rows and 14 columns. There are no missing values in our data. There are 8 integer columns for numerical values, 5 object columns for categorical variables and 1 floating point column. We start by investigating the validity of the data types with respect to column values.

In [ ]:
print(plt.style.available)

In [ ]:
# Visualize the distribution of numerical variables
df.hist(figsize=(10, 8))
plt.show()

From the visualisation, the `num_passengers` column shows that the minimum number of passengers in a booking is 1, while the maximum is 9. It also shows that the majority of bookings involve a relatively small number of passengers, with occasional bookings involving larger passenger groups. The `purchase_lead` column shows that the minimum purchase lead time is 0 days, indicating bookings made on the same day as the travel date. The maximum purchase lead time is 867 days. This suggests a varied distribution of purchase lead times, with a wide range from last-minute bookings to bookings made several months in advance.
The columns `wants_extra_baggage`, `wants_preferred_seat`, `wants_in_flight_meals`, and `booking_complete` are distributed into 2 specific integer values; 0 and 1, indicating that they are of boolean datatype and not integer, therefore, they shall be converted to boolean to make them categorical columns.
The `flight_hour` column shows that most flights happen early in the morning from 7:30 to 10 am. Outside of these hours, from midnight to 3pm, we have an almost even distribution of flights. These taper off as the day winds down.

In [ ]:
bool_cols = ['wants_extra_baggage', 'wants_preferred_seat', 'wants_in_flight_meals', 'booking_complete']
df[bool_cols].astype('bool')

In [ ]:
# Selecting only binary preference variables for distribution analysis
binary_preferences = df[['wants_extra_baggage', 'wants_preferred_seat', 'wants_in_flight_meals', 'booking_complete']]

# Create subplots for each binary preference variable
plt.figure(figsize=(14, 6))
for i, column in enumerate(binary_preferences.columns, 1):
    plt.subplot(1, 4, i)
    sns.countplot(x=column, data=df)
    plt.title(f'Distribution of {column}')
    plt.xlabel(column)
    plt.ylabel('Count')

plt.tight_layout()
plt.show()

In [ ]:
binary_preferences = df[['wants_extra_baggage', 'wants_preferred_seat', 'wants_in_flight_meals', 'booking_complete']]
percentages = binary_preferences.mean() *  100
percentages

Approximately 67% of passengers prefer extra baggage, this is also clear from the visualization. 30% of the passengers had seats they preferred. 42% of the passengers preferred meals in flight. Only about 15% of the bookings were completed.
After evaluating the numerical columns, we investigte categorical columns of object dtype.

In [ ]:
categorical_columns = ['booking_origin', 'trip_type', 'flight_day', 'route']
unique_counts = {col: df[col].nunique() for col in categorical_columns}
unique_counts

In [ ]:
df.info()

In [ ]:
# # Assuming df is your DataFrame containing the data
# plt.figure(figsize=(10, 6))

# # Count plot for flight_day
# sns.countplot(data=df, x='flight_day', order=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

# # Adding labels and title
# plt.xlabel('Day of the Week')
# plt.ylabel('Number of Flights')
# plt.title('Number of Flights by Day of the Week')

# # Rotating x-axis labels for better readability
# plt.xticks(rotation=45)

# # Show plot
# plt.grid(True)
# plt.tight_layout()
# plt.show()

In [ ]:
df['flight_day'].unique()

From the chart, the highest number of bookings were round trips, followed by one way trips. Circle trips which are like round-trips, except that the route on the return trip differs from the route on the outgoing trip, were least booked.

In [ ]:
# Descriptive Statistics
print("\nDescriptive Statistics:")
print(df.describe())

In [ ]:
# Data Distribution - Histograms
numerical_columns = ['num_passengers', 'purchase_lead', 'length_of_stay', 'flight_hour', 'flight_duration']
df[numerical_columns].hist(bins=20, figsize=(15, 10))
plt.suptitle("Data Distribution - Histograms")
plt.show()

In [ ]:
# Data Distribution - Categorical Variables
categorical_columns = ['sales_channel', 'trip_type', 'flight_day', 'route', 'booking_origin']
for column in categorical_columns:
    sns.countplot(x=column, data=df)
    plt.title(f'Distribution of {column}')
    plt.show()

In [ ]:
# Explore Relationships - Example: Sales Channel vs. Booking Complete
sns.countplot(x='sales_channel', hue='booking_complete', data=df)
plt.title("Relationship between Sales Channel and Booking Complete")
plt.show()

In [ ]:
# Correlation Analysis
correlation_matrix = df.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title("Correlation Matrix")
plt.show()

In [ ]:
# Pattern Recognition - Example: Sales Channel vs. Num Passengers
sns.boxplot(x='sales_channel', y='num_passengers', data=df)
plt.title("Sales Channel vs. Num Passengers")
plt.show()

In [ ]:
# Segmentation - Example: Trip Type vs. Flight Duration
sns.barplot(x='trip_type', y='flight_duration', data=df)
plt.title("Trip Type vs. Flight Duration")
plt.show()

In [ ]:
# Outlier Detection - Example: Boxplot for Purchase Lead
sns.boxplot(x='purchase_lead', data=df)
plt.title("Boxplot for Purchase Lead")
plt.show()

## Feature Engineering

`flight_duration` is in hours, we convert `purchase_lead` and `length_of_stay` into hours too.

In [37]:
# Define conversion factors
hours_in_day = 24

# Convert time-related columns to hours
df['purchase_lead_hours'] = df['purchase_lead'] * hours_in_day
df['length_of_stay_hours'] = df['length_of_stay'] * hours_in_day

# Drop the original columns
# df.drop(columns=['purchase_lead', 'length_of_stay'], inplace=True)

# Print first few rows to verify the changes
print(df.head())

   num_passengers sales_channel  trip_type  purchase_lead  length_of_stay  \
0               2      Internet  RoundTrip            262              19
1               1      Internet  RoundTrip            112              20
2               2      Internet  RoundTrip            243              22
3               1      Internet  RoundTrip             96              31
4               2      Internet  RoundTrip             68              22

   flight_hour flight_day   route booking_origin  wants_extra_baggage  \
0            7        Sat  AKLDEL    New Zealand                    1
1            3        Sat  AKLDEL    New Zealand                    0
2           17        Wed  AKLDEL          India                    1
3            4        Sat  AKLDEL    New Zealand                    0
4           15        Wed  AKLDEL          India                    1

   wants_preferred_seat  wants_in_flight_meals  flight_duration  \
0                     0                      0             5.52
1                     0                      0             5.52
2                     1                      0             5.52
3                     0                      1             5.52
4                     0                      1             5.52

   booking_complete  purchase_lead_hours  length_of_stay_hours
0                 0                 6288                   456
1                 0                 2688                   480
2                 0                 5832                   528
3                 0                 2304                   744
4                 0                 1632                   528

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   num_passengers         50000 non-null  int64
 1   sales_channel          50000 non-null  object
 2   trip_type              50000 non-null  object
 3   purchase_lead          50000 non-null  int64
 4   length_of_stay         50000 non-null  int64
 5   flight_hour            50000 non-null  int64
 6   flight_day             50000 non-null  object
 7   route                  50000 non-null  object
 8   booking_origin         50000 non-null  object
 9   wants_extra_baggage    50000 non-null  int64
 10  wants_preferred_seat   50000 non-null  int64
 11  wants_in_flight_meals  50000 non-null  int64
 12  flight_duration        50000 non-null  float64
 13  booking_complete       50000 non-null  int64
 14  purchase_lead_hours    50000 non-null  int64
 15  length_of_stay_hours   50000 non-null  int64
dtypes: float64(1), int64(10), object(5)
memory usage: 6.1+ MB

In [39]:
# to be removed because this operation has already been carried out earlier in eda
bool_cols = ['wants_extra_baggage', 'wants_preferred_seat', 'wants_in_flight_meals', 'booking_complete']
df[bool_cols] = df[bool_cols].astype('bool')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   num_passengers         50000 non-null  int64
 1   sales_channel          50000 non-null  object
 2   trip_type              50000 non-null  object
 3   purchase_lead          50000 non-null  int64
 4   length_of_stay         50000 non-null  int64
 5   flight_hour            50000 non-null  int64
 6   flight_day             50000 non-null  object
 7   route                  50000 non-null  object
 8   booking_origin         50000 non-null  object
 9   wants_extra_baggage    50000 non-null  bool
 10  wants_preferred_seat   50000 non-null  bool
 11  wants_in_flight_meals  50000 non-null  bool
 12  flight_duration        50000 non-null  float64
 13  booking_complete       50000 non-null  bool
 14  purchase_lead_hours    50000 non-null  int64
 15  length_of_stay_hours   50000 non-null  int64
dtypes: bool(4), float64(1), int64(6), object(5)
memory usage: 4.8+ MB

In [41]:
def categorize_time_of_day(time):
    hour = int(time.split(':')[0])
    if 6 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 18:
        return 'Afternoon'
    else:
        return 'Evening'

# Convert integer values to string representations of time
df['flight_hour_str'] = df['flight_hour'].astype(str)

# Apply categorize_time_of_day function
df['time_of_day_preference'] = df['flight_hour_str'].apply(categorize_time_of_day)

# Drop after use
df.drop(columns=['flight_hour_str'], inplace=True)

In [42]:
df.columns

Index(['num_passengers', 'sales_channel', 'trip_type', 'purchase_lead',
       'length_of_stay', 'flight_hour', 'flight_day', 'route',
       'booking_origin', 'wants_extra_baggage', 'wants_preferred_seat',
       'wants_in_flight_meals', 'flight_duration', 'booking_complete',
       'purchase_lead_hours', 'length_of_stay_hours',
       'time_of_day_preference'],
      dtype='object')

In [43]:
# Define the mapping of days to integers
day_mapping = {'Mon': 1.0, 'Tue': 2.0, 'Wed': 3.0, 'Thu': 4.0, 'Fri': 5.0, 'Sat': 6.0, 'Sun': 7.0}

# Map the 'flight_day' column using the day_mapping dictionary
df['flight_day_encoded'] = df['flight_day'].map(day_mapping)

# Verify that the encoding matches the defined mapping
print(df[['flight_day', 'flight_day_encoded']].sample(6))
# Create 'is_weekend_flight' feature based on 'flight_day'

df['is_weekend_flight'] = df['flight_day_encoded'].apply(lambda x:  1 if x >=  6 else  0)

      flight_day  flight_day_encoded
33615        Tue                 2.0
43361        Sun                 7.0
21673        Tue                 2.0
5607         Wed                 3.0
13324        Sun                 7.0
15765        Sun                 7.0

In [44]:
df.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,purchase_lead_hours,length_of_stay_hours,time_of_day_preference,flight_day_encoded,is_weekend_flight
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,True,False,False,5.52,False,6288,456,Morning,6.0,1
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,False,False,False,5.52,False,2688,480,Evening,6.0,1
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,True,True,False,5.52,False,5832,528,Afternoon,3.0,0
3,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,False,False,True,5.52,False,2304,744,Evening,6.0,1
4,2,Internet,RoundTrip,68,22,15,Wed,AKLDEL,India,True,False,True,5.52,False,1632,528,Afternoon,3.0,0

Create buckets for 'length_of_stay_hours' and 'purchase_lead_hours' to categorize stays into short, medium, long, etc. This can help simplify the model and potentially reveal patterns related to stay durations.

Also create buckets based on time period such as weeks and months.

In [45]:
def bin_column(data, num_bins, labels):
    # Use pd.qcut() to bin the column
    binned_column = pd.qcut(data, q=num_bins, labels=labels)
    return binned_column

# define quantiles
num_bins =  3
labels = ['Short', 'Medium', 'Long']
column_= ['length_of_stay_hours', 'purchase_lead_hours', 'flight_duration']

# Create new binned columns for each duration column
for col in column_:
    # Apply bin_column function to create binned column
    df[col + '_binned'] = bin_column(df[col], num_bins, labels)

# Display the DataFrame with new binned columns
print(df.head())

   num_passengers sales_channel  trip_type  purchase_lead  length_of_stay  \
0               2      Internet  RoundTrip            262              19
1               1      Internet  RoundTrip            112              20
2               2      Internet  RoundTrip            243              22
3               1      Internet  RoundTrip             96              31
4               2      Internet  RoundTrip             68              22

   flight_hour flight_day   route booking_origin  wants_extra_baggage  ...  \
0            7        Sat  AKLDEL    New Zealand                 True  ...
1            3        Sat  AKLDEL    New Zealand                False  ...
2           17        Wed  AKLDEL          India                 True  ...
3            4        Sat  AKLDEL    New Zealand                False  ...
4           15        Wed  AKLDEL          India                 True  ...

   flight_duration  booking_complete  purchase_lead_hours  \
0             5.52             False                 6288
1             5.52             False                 2688
2             5.52             False                 5832
3             5.52             False                 2304
4             5.52             False                 1632

   length_of_stay_hours  time_of_day_preference  flight_day_encoded  \
0                   456                 Morning                 6.0
1                   480                 Evening                 6.0
2                   528               Afternoon                 3.0
3                   744                 Evening                 6.0
4                   528               Afternoon                 3.0

  is_weekend_flight  length_of_stay_hours_binned  purchase_lead_hours_binned  \
0                 1                       Medium                        Long
1                 1                       Medium                        Long
2                 0                       Medium                        Long
3                 1                         Long                        Long
4                 0                       Medium                      Medium

  flight_duration_binned
0                  Short
1                  Short
2                  Short
3                  Short
4                  Short

[5 rows x 22 columns]

Create interaction features by combining related variables. For example, we can create features like "wants_extra_baggage_and_preferred_seat" or "wants_meals_and_preferred_seat" to capture combinations of customer preferences. simply multiply the boolean columns representing individual preferences. This will result in a new binary column where a value of 1 indicates that both preferences are true, and a value of 0 indicates that at least one preference is false.

In [46]:
# Create new features for combinations of customer preferences
df['wants_extra_baggage_and_preferred_seat'] = df['wants_extra_baggage'] & df['wants_preferred_seat']
df['wants_meals_and_preferred_seat'] = df['wants_in_flight_meals'] & df['wants_preferred_seat']
df['wants_extra_baggage_and_meals'] = df['wants_extra_baggage'] & df['wants_in_flight_meals']
df['wants_all_services'] = df['wants_extra_baggage'] & df['wants_preferred_seat'] & df['wants_in_flight_meals']
df['wants_seat_and_meals_but_no_baggage'] = (df['wants_preferred_seat'] & df['wants_in_flight_meals']) & ~df['wants_extra_baggage']
df['wants_baggage_and_meals_but_no_seat'] = (df['wants_extra_baggage'] & df['wants_in_flight_meals']) & ~df['wants_preferred_seat']
df['wants_baggage_and_seat_but_no_meals'] = (df['wants_extra_baggage'] & df['wants_preferred_seat']) & ~df['wants_in_flight_meals']

Columns building using aggregate statistics

In [47]:
df[bool_cols] = df[bool_cols].astype('int')

df['total_preferences'] = df['wants_extra_baggage'] + df['wants_preferred_seat'] + df['wants_in_flight_meals']
df.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,...,purchase_lead_hours_binned,flight_duration_binned,wants_extra_baggage_and_preferred_seat,wants_meals_and_preferred_seat,wants_extra_baggage_and_meals,wants_all_services,wants_seat_and_meals_but_no_baggage,wants_baggage_and_meals_but_no_seat,wants_baggage_and_seat_but_no_meals,total_preferences
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,...,Long,Short,False,False,False,False,False,False,False,1
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,...,Long,Short,False,False,False,False,False,False,False,0
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,...,Long,Short,True,False,False,False,False,False,True,2
3,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,...,Long,Short,False,False,False,False,False,False,False,1
4,2,Internet,RoundTrip,68,22,15,Wed,AKLDEL,India,1,...,Medium,Short,False,False,True,False,False,True,False,2

In [48]:
# Calculate aggregate statistics of purchase_lead and length_of_stay (mean and standard deviation) grouped by sales_channel
agg_sales = df.groupby('sales_channel').agg({'purchase_lead_hours': ['mean', 'std'], 'length_of_stay_hours': ['mean', 'std']}).reset_index()

agg_sales.columns = ['sales_channel', 'avg_purchase_lead_sales', 'std_purchase_lead_sales', 'avg_length_of_stay_sales', 'std_length_of_stay_sales']

df = pd.merge(df, agg_sales, on='sales_channel', how='left')
df.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,...,wants_extra_baggage_and_meals,wants_all_services,wants_seat_and_meals_but_no_baggage,wants_baggage_and_meals_but_no_seat,wants_baggage_and_seat_but_no_meals,total_preferences,avg_purchase_lead_sales,std_purchase_lead_sales,avg_length_of_stay_sales,std_length_of_stay_sales
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,...,False,False,False,False,False,1,2048.920373,2173.450504,570.532919,828.813233
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,...,False,False,False,False,False,0,2048.920373,2173.450504,570.532919,828.813233
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,...,False,False,False,False,True,2,2048.920373,2173.450504,570.532919,828.813233
3,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,...,False,False,False,False,False,1,2048.920373,2173.450504,570.532919,828.813233
4,2,Internet,RoundTrip,68,22,15,Wed,AKLDEL,India,1,...,True,False,False,True,False,2,2048.920373,2173.450504,570.532919,828.813233

In [49]:
# Calculate aggregate statistics of purchase_lead and length_of_stay (mean and standard deviation) grouped by trip_type
agg_trip = df.groupby('trip_type').agg({'purchase_lead_hours': ['mean', 'std'], 'length_of_stay_hours': ['mean', 'std']}).reset_index()

agg_trip.columns = ['trip_type', 'avg_purchase_lead_trip', 'std_purchase_lead_trip', 'avg_length_of_stay_trip', 'std_length_of_stay_trip']

df = pd.merge(df, agg_trip, on='trip_type', how='left')
df.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,...,wants_baggage_and_seat_but_no_meals,total_preferences,avg_purchase_lead_sales,std_purchase_lead_sales,avg_length_of_stay_sales,std_length_of_stay_sales,avg_purchase_lead_trip,std_purchase_lead_trip,avg_length_of_stay_trip,std_length_of_stay_trip
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,...,False,1,2048.920373,2173.450504,570.532919,828.813233,2036.749379,2171.215514,553.88666,814.683874
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,...,False,0,2048.920373,2173.450504,570.532919,828.813233,2036.749379,2171.215514,553.88666,814.683874
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,...,True,2,2048.920373,2173.450504,570.532919,828.813233,2036.749379,2171.215514,553.88666,814.683874
3,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,...,False,1,2048.920373,2173.450504,570.532919,828.813233,2036.749379,2171.215514,553.88666,814.683874
4,2,Internet,RoundTrip,68,22,15,Wed,AKLDEL,India,1,...,False,2,2048.920373,2173.450504,570.532919,828.813233,2036.749379,2171.215514,553.88666,814.683874

In [50]:
# Compute the variance of 'flight_duration' and 'flight_day_encoded' grouped by 'route'
variance_by_route = df.groupby('route').agg({'flight_duration': 'var', 'flight_day_encoded': 'var'}).reset_index()
variance_by_route.columns = ['route', 'variance_flight_duration_by_route', 'variance_flight_day_by_route']

# Compute the variance of 'flight_duration' and 'flight_day_encoded' grouped by 'booking_origin'
variance_by_origin = df.groupby('booking_origin').agg({'flight_duration': 'var', 'flight_day_encoded': 'var'}).reset_index()
variance_by_origin.columns = ['booking_origin', 'variance_flight_duration_by_origin', 'variance_flight_day_by_origin']

# Merge the calculated variances back to the original DataFrame 'df'
df = pd.merge(df, variance_by_route, on='route', how='left')
df = pd.merge(df, variance_by_origin, on='booking_origin', how='left')

In [51]:
import airportsdata

# Load the airport data using the IATA code as the key
airports = airportsdata.load('IATA')

# Function to retrieve airport information for an airport code
def get_airport_info(airport_code):
    airport_info = airports.get(airport_code)
    if airport_info:
        return {
            'latitude': airport_info['lat'],
            'longitude': airport_info['lon'],
            'city': airport_info['city'],
            'timezone': airport_info['tz']
        }
    else:
        return None  # Return None if data is not found for the airport code

# Iterate over rows in the dataframe and retrieve airport information for each airport code
for index, row in df.iterrows():
    origin_code = row['route'][:3]
    dest_code = row['route'][3:]
    
    origin_info = get_airport_info(origin_code)
    dest_info = get_airport_info(dest_code)
    
    if origin_info:
        df.at[index, 'origin_latitude'] = origin_info['latitude']
        df.at[index, 'origin_longitude'] = origin_info['longitude']
        df.at[index, 'origin_city'] = origin_info['city']
        df.at[index, 'origin_timezone'] = origin_info['timezone']
    
    if dest_info:
        df.at[index, 'dest_latitude'] = dest_info['latitude']
        df.at[index, 'dest_longitude'] = dest_info['longitude']
        df.at[index, 'dest_city'] = dest_info['city']
        df.at[index, 'dest_timezone'] = dest_info['timezone']

Calculate distances, now that we have latitude and longitude. Euclidean distance is the straight-line distance between two points in a two-dimensional space, such as a Cartesian coordinate system. When applied to geographical data, it treats the Earth's surface as a flat plane, which can lead to inaccuracies, especially for long distances. Great Circle distance, also known as orthodromic distance, is the shortest distance between two points on the surface of a sphere, measured along the surface of the sphere (i.e., the Earth). It takes into account the curvature of the Earth, representing the shortest path between two points along the surface of the Earth. Great Circle distance is more accurate for calculating distances over long distances, especially when considering travel routes on the Earth's surface.

In [52]:
from math import radians, sin, cos, sqrt, atan2

# Function to calculate euclidean distance

def euclidean_distance(lat1, lon1, lat2, lon2):
    return np.sqrt((lat2 - lat1)**2 + (lon2 - lon1)**2)

# Function to calculate great circle distance
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371.0  # Radius of the Earth in kilometers

    # Convert latitude and longitude from degrees to radians
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    # Calculate the change in coordinates
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    # Use Haversine formula to calculate distance
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c

    return distance

# Calculate Euclidean Distance
df['euclidean_distance'] = euclidean_distance(df['origin_latitude'], df['origin_longitude'], 
                                               df['dest_latitude'], df['dest_longitude'])

# Calculate Great Circle Distance (Haversine Distance)
df['great_circle_distance'] = df.apply(lambda row: haversine_distance(row['origin_latitude'], row['origin_longitude'],
                                                                     row['dest_latitude'], row['dest_longitude']),
                                       axis=1)

In [53]:
print(df[['origin_city', 'booking_origin', 'dest_city', 'route', 'trip_type']].sample(10))

               origin_city booking_origin         dest_city   route  trip_type
18614            Melbourne    Philippines            Manila  MELMNL  RoundTrip
49341           Gold Coast      Australia  Ho Chi Minh City  OOLSGN  RoundTrip
32739                Seoul    South Korea            Penang  ICNPEN  RoundTrip
48787              Chennai          India            Taipei  MAATPE  RoundTrip
23572                Perth      Australia  Ho Chi Minh City  PERSGN  RoundTrip
25749              Jakarta      Australia         Melbourne  CGKMEL  RoundTrip
47225                Seoul    South Korea              Malé  ICNMLE  RoundTrip
47301                Seoul       Malaysia            Penang  ICNPEN  RoundTrip
29705  Bandar Seri Begawan         Brunei         New Delhi  BWNDEL  RoundTrip
31847               Phuket          China             Seoul  HKTICN  RoundTrip

Analyze data on the frequency of flights between origin and destination airports. This can indicate the popularity and demand for specific routes, which may affect booking completion rates.

In [54]:
# your analysis here


# Segmentation Analysis:

Conduct segmentation analysis to identify subgroups of customers based on the interaction feature and binary columns. This can be done based on the booking complete column. The goal is to find out why so many customers are not completing their order, and if there is any unique traits about those that complete their orders.

# can we do this earlier on in the notebook, or say it has been done in eda, so maybe just do clustering later on while building the model

In [55]:
df.columns

Index(['num_passengers', 'sales_channel', 'trip_type', 'purchase_lead',
       'length_of_stay', 'flight_hour', 'flight_day', 'route',
       'booking_origin', 'wants_extra_baggage', 'wants_preferred_seat',
       'wants_in_flight_meals', 'flight_duration', 'booking_complete',
       'purchase_lead_hours', 'length_of_stay_hours', 'time_of_day_preference',
       'flight_day_encoded', 'is_weekend_flight',
       'length_of_stay_hours_binned', 'purchase_lead_hours_binned',
       'flight_duration_binned', 'wants_extra_baggage_and_preferred_seat',
       'wants_meals_and_preferred_seat', 'wants_extra_baggage_and_meals',
       'wants_all_services', 'wants_seat_and_meals_but_no_baggage',
       'wants_baggage_and_meals_but_no_seat',
       'wants_baggage_and_seat_but_no_meals', 'total_preferences',
       'avg_purchase_lead_sales', 'std_purchase_lead_sales',
       'avg_length_of_stay_sales', 'std_length_of_stay_sales',
       'avg_purchase_lead_trip', 'std_purchase_lead_trip',
       'avg_length_of_stay_trip', 'std_length_of_stay_trip',
       'variance_flight_duration_by_route', 'variance_flight_day_by_route',
       'variance_flight_duration_by_origin', 'variance_flight_day_by_origin',
       'origin_latitude', 'origin_longitude', 'origin_city', 'origin_timezone',
       'dest_latitude', 'dest_longitude', 'dest_city', 'dest_timezone',
       'euclidean_distance', 'great_circle_distance'],
      dtype='object')

Booking completion based segmentaion.

In [56]:
complete_bookings_subset = df[df['booking_complete'] == True]

complete_bookings_subset.sample(8)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,...,origin_latitude,origin_longitude,origin_city,origin_timezone,dest_latitude,dest_longitude,dest_city,dest_timezone,euclidean_distance,great_circle_distance
47332,2,Internet,RoundTrip,20,6,9,Thu,ICNPEN,Malaysia,1,...,37.469101,126.450996,Seoul,Asia/Seoul,5.297140,100.277000,Penang,Asia/Kuala_Lumpur,41.474247,4454.019856
36225,2,Internet,RoundTrip,99,5,14,Thu,CTSDMK,Thailand,1,...,42.775200,141.692001,Chitose / Tomakomai,Asia/Tokyo,13.912600,100.607002,Bangkok,Asia/Bangkok,50.209828,5064.641963
29424,1,Internet,RoundTrip,10,4,22,Mon,BDOKIX,Japan,1,...,-6.900630,107.575996,Bandung-Java Island,Asia/Jakarta,34.427299,135.244003,Osaka,Asia/Tokyo,49.734458,5438.007709
41410,3,Internet,RoundTrip,13,5,2,Tue,PENPVG,Malaysia,1,...,5.297140,100.277000,Penang,Asia/Kuala_Lumpur,31.143400,121.805000,Shanghai,Asia/Shanghai,33.637538,3647.803081
47869,1,Internet,RoundTrip,133,6,13,Tue,KBRKIX,Malaysia,1,...,6.166850,102.292999,Kota Baharu,Asia/Kuala_Lumpur,34.427299,135.244003,Osaka,Asia/Tokyo,43.409926,4615.274279
35958,1,Mobile,RoundTrip,2,5,7,Sun,CGKTPE,Indonesia,0,...,-6.125570,106.655998,Jakarta,Asia/Jakarta,25.077700,121.233002,Taipei,Asia/Taipei,34.440282,3811.186540
10481,1,Internet,RoundTrip,2,19,8,Wed,DPSHND,Indonesia,1,...,-8.748170,115.167000,Denpasar-Bali Island,Asia/Makassar,35.552299,139.779999,Tokyo,Asia/Tokyo,50.678707,5561.090496
7101,2,Internet,RoundTrip,54,77,10,Sat,COKSYD,Australia,1,...,10.152000,76.401901,Cochin,Asia/Kolkata,-33.946098,151.177002,Sydney,Australia/Sydney,86.809896,9266.751884

In [57]:
trip_type_counts = complete_bookings_subset['trip_type'].value_counts()

# Now trip_type_counts contains the counts of unique elements in the "trip_type" column
print(trip_type_counts)

trip_type
RoundTrip     7453
OneWay          20
CircleTrip       5
Name: count, dtype: int64

In [58]:
incomplete_bookings_subset = df[df['booking_complete'] != True]
incomplete_bookings_subset.sample(6)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,...,origin_latitude,origin_longitude,origin_city,origin_timezone,dest_latitude,dest_longitude,dest_city,dest_timezone,euclidean_distance,great_circle_distance
48327,1,Mobile,RoundTrip,1,6,2,Sun,KIXPER,Australia,0,...,34.427299,135.244003,Osaka,Asia/Tokyo,-31.940300,115.967003,Perth,Australia/Perth,69.110499,7650.223405
13500,1,Internet,RoundTrip,133,27,9,Sun,HYDSYD,Australia,0,...,17.231318,78.429855,Hyderabad,Asia/Kolkata,-33.946098,151.177002,Sydney,Australia/Sydney,88.945350,9563.905597
9298,1,Internet,RoundTrip,15,20,5,Thu,DMKOOL,Cambodia,1,...,13.912600,100.607002,Bangkok,Asia/Bangkok,-28.164400,153.505005,Gold Coast,Australia/Brisbane,67.591956,7366.847772
21319,1,Internet,RoundTrip,43,22,8,Mon,MYYPER,Australia,1,...,4.322010,113.987000,Miri,Asia/Kuching,-31.940300,115.967003,Perth,Australia/Perth,36.316326,4037.623569
45974,3,Internet,RoundTrip,287,6,4,Mon,HGHMEL,China,1,...,30.229500,120.433998,Hangzhou,Asia/Shanghai,-37.673302,144.843002,Melbourne,Australia/Melbourne,72.156704,7965.556387
33768,1,Internet,RoundTrip,16,4,22,Sun,MELMNL,Australia,1,...,-37.673302,144.843002,Melbourne,Australia/Melbourne,14.508600,121.019997,Manila,Asia/Manila,57.362762,6313.545152

In [59]:
trip_type_counts = incomplete_bookings_subset['trip_type'].value_counts()

# Now trip_type_counts contains the counts of unique elements in the "trip_type" column
print(trip_type_counts)

trip_type
RoundTrip     42044
OneWay          367
CircleTrip      111
Name: count, dtype: int64

In [60]:
df['origin_timezone'].sample(5)

15092     Asia/Tehran
47259      Asia/Seoul
18193    Asia/Kolkata
32349      Asia/Tokyo
5119     Asia/Colombo
Name: origin_timezone, dtype: object

## Transformation

Since hours of the day have a cyclical nature, you can encode flight_hour using trigonometric functions like sine and cosine. This transformation can capture the periodicity of time features and prevent issues such as treating 23:00 and 00:00 as far apart. The technique transforms the hour of the day into two continuous variables, which represent the cyclic pattern of time.

In [61]:
# Perform periodic encoding for flight_hour
df['flight_hour_sin'] = np.sin(2 * np.pi * df['flight_hour'] / hours_in_day)
df['flight_hour_cos'] = np.cos(2 * np.pi * df['flight_hour'] / hours_in_day)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 54 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   num_passengers                          50000 non-null  int64
 1   sales_channel                           50000 non-null  object
 2   trip_type                               50000 non-null  object
 3   purchase_lead                           50000 non-null  int64
 4   length_of_stay                          50000 non-null  int64
 5   flight_hour                             50000 non-null  int64
 6   flight_day                              50000 non-null  object
 7   route                                   50000 non-null  object
 8   booking_origin                          50000 non-null  object
 9   wants_extra_baggage                     50000 non-null  int64
 10  wants_preferred_seat                    50000 non-null  int64
 11  wants_in_flight_meals                   50000 non-null  int64
 12  flight_duration                         50000 non-null  float64
 13  booking_complete                        50000 non-null  int64
 14  purchase_lead_hours                     50000 non-null  int64
 15  length_of_stay_hours                    50000 non-null  int64
 16  time_of_day_preference                  50000 non-null  object
 17  flight_day_encoded                      50000 non-null  float64
 18  is_weekend_flight                       50000 non-null  int64
 19  length_of_stay_hours_binned             50000 non-null  category
 20  purchase_lead_hours_binned              50000 non-null  category
 21  flight_duration_binned                  50000 non-null  category
 22  wants_extra_baggage_and_preferred_seat  50000 non-null  bool
 23  wants_meals_and_preferred_seat          50000 non-null  bool
 24  wants_extra_baggage_and_meals           50000 non-null  bool
 25  wants_all_services                      50000 non-null  bool
 26  wants_seat_and_meals_but_no_baggage     50000 non-null  bool
 27  wants_baggage_and_meals_but_no_seat     50000 non-null  bool
 28  wants_baggage_and_seat_but_no_meals     50000 non-null  bool
 29  total_preferences                       50000 non-null  int64
 30  avg_purchase_lead_sales                 50000 non-null  float64
 31  std_purchase_lead_sales                 50000 non-null  float64
 32  avg_length_of_stay_sales                50000 non-null  float64
 33  std_length_of_stay_sales                50000 non-null  float64
 34  avg_purchase_lead_trip                  50000 non-null  float64
 35  std_purchase_lead_trip                  50000 non-null  float64
 36  avg_length_of_stay_trip                 50000 non-null  float64
 37  std_length_of_stay_trip                 50000 non-null  float64
 38  variance_flight_duration_by_route       49937 non-null  float64
 39  variance_flight_day_by_route            49937 non-null  float64
 40  variance_flight_duration_by_origin      49973 non-null  float64
 41  variance_flight_day_by_origin           49973 non-null  float64
 42  origin_latitude                         50000 non-null  float64
 43  origin_longitude                        50000 non-null  float64
 44  origin_city                             50000 non-null  object
 45  origin_timezone                         50000 non-null  object
 46  dest_latitude                           50000 non-null  float64
 47  dest_longitude                          50000 non-null  float64
 48  dest_city                               50000 non-null  object
 49  dest_timezone                           50000 non-null  object
 50  euclidean_distance                      50000 non-null  float64
 51  great_circle_distance                   50000 non-null  float64
 52  flight_hour_sin                         50000 non-null  float64
 53  flight_hour_cos                         50000 non-null  float64
dtypes: bool(7), category(3), float64(22), int64(12), object(10)
memory usage: 17.3+ MB

In [63]:
# convert boolean columns
bool_cols = ['wants_extra_baggage', 'wants_preferred_seat', 'wants_in_flight_meals', 'booking_complete']
df[bool_cols] = df[bool_cols].astype('bool')

Normalize the time-related columns to ensure they're on the same scale.

In [64]:
from sklearn.preprocessing import MinMaxScaler

# Columns to normalize
columns_to_normalize = ['purchase_lead_hours', 'length_of_stay_hours', 'flight_duration']

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the selected columns
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

# Print first few rows to verify the changes
print(df.head())

   num_passengers sales_channel  trip_type  purchase_lead  length_of_stay  \
0               2      Internet  RoundTrip            262              19
1               1      Internet  RoundTrip            112              20
2               2      Internet  RoundTrip            243              22
3               1      Internet  RoundTrip             96              31
4               2      Internet  RoundTrip             68              22

   flight_hour flight_day   route booking_origin  wants_extra_baggage  ...  \
0            7        Sat  AKLDEL    New Zealand                 True  ...
1            3        Sat  AKLDEL    New Zealand                False  ...
2           17        Wed  AKLDEL          India                 True  ...
3            4        Sat  AKLDEL    New Zealand                False  ...
4           15        Wed  AKLDEL          India                 True  ...

   origin_city   origin_timezone  dest_latitude  dest_longitude  dest_city  \
0     Auckland  Pacific/Auckland        28.5665       77.103104  New Delhi
1     Auckland  Pacific/Auckland        28.5665       77.103104  New Delhi
2     Auckland  Pacific/Auckland        28.5665       77.103104  New Delhi
3     Auckland  Pacific/Auckland        28.5665       77.103104  New Delhi
4     Auckland  Pacific/Auckland        28.5665       77.103104  New Delhi

   dest_timezone euclidean_distance  great_circle_distance  flight_hour_sin  \
0   Asia/Kolkata         117.656916           12502.399655         0.965926
1   Asia/Kolkata         117.656916           12502.399655         0.707107
2   Asia/Kolkata         117.656916           12502.399655        -0.965926
3   Asia/Kolkata         117.656916           12502.399655         0.866025
4   Asia/Kolkata         117.656916           12502.399655        -0.707107

  flight_hour_cos
0       -0.258819
1        0.707107
2       -0.258819
3        0.500000
4       -0.707107

[5 rows x 54 columns]

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 54 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   num_passengers                          50000 non-null  int64
 1   sales_channel                           50000 non-null  object
 2   trip_type                               50000 non-null  object
 3   purchase_lead                           50000 non-null  int64
 4   length_of_stay                          50000 non-null  int64
 5   flight_hour                             50000 non-null  int64
 6   flight_day                              50000 non-null  object
 7   route                                   50000 non-null  object
 8   booking_origin                          50000 non-null  object
 9   wants_extra_baggage                     50000 non-null  bool
 10  wants_preferred_seat                    50000 non-null  bool
 11  wants_in_flight_meals                   50000 non-null  bool
 12  flight_duration                         50000 non-null  float64
 13  booking_complete                        50000 non-null  bool
 14  purchase_lead_hours                     50000 non-null  float64
 15  length_of_stay_hours                    50000 non-null  float64
 16  time_of_day_preference                  50000 non-null  object
 17  flight_day_encoded                      50000 non-null  float64
 18  is_weekend_flight                       50000 non-null  int64
 19  length_of_stay_hours_binned             50000 non-null  category
 20  purchase_lead_hours_binned              50000 non-null  category
 21  flight_duration_binned                  50000 non-null  category
 22  wants_extra_baggage_and_preferred_seat  50000 non-null  bool
 23  wants_meals_and_preferred_seat          50000 non-null  bool
 24  wants_extra_baggage_and_meals           50000 non-null  bool
 25  wants_all_services                      50000 non-null  bool
 26  wants_seat_and_meals_but_no_baggage     50000 non-null  bool
 27  wants_baggage_and_meals_but_no_seat     50000 non-null  bool
 28  wants_baggage_and_seat_but_no_meals     50000 non-null  bool
 29  total_preferences                       50000 non-null  int64
 30  avg_purchase_lead_sales                 50000 non-null  float64
 31  std_purchase_lead_sales                 50000 non-null  float64
 32  avg_length_of_stay_sales                50000 non-null  float64
 33  std_length_of_stay_sales                50000 non-null  float64
 34  avg_purchase_lead_trip                  50000 non-null  float64
 35  std_purchase_lead_trip                  50000 non-null  float64
 36  avg_length_of_stay_trip                 50000 non-null  float64
 37  std_length_of_stay_trip                 50000 non-null  float64
 38  variance_flight_duration_by_route       49937 non-null  float64
 39  variance_flight_day_by_route            49937 non-null  float64
 40  variance_flight_duration_by_origin      49973 non-null  float64
 41  variance_flight_day_by_origin           49973 non-null  float64
 42  origin_latitude                         50000 non-null  float64
 43  origin_longitude                        50000 non-null  float64
 44  origin_city                             50000 non-null  object
 45  origin_timezone                         50000 non-null  object
 46  dest_latitude                           50000 non-null  float64
 47  dest_longitude                          50000 non-null  float64
 48  dest_city                               50000 non-null  object
 49  dest_timezone                           50000 non-null  object
 50  euclidean_distance                      50000 non-null  float64
 51  great_circle_distance                   50000 non-null  float64
 52  flight_hour_sin                         50000 non-null  float64
 53  flight_hour_cos                         50000 non-null  float64
dtypes: bool(11), category(3), float64(24), int64(6), object(10)
memory usage: 15.9+ MB

One hot encoding `sales_channel` and `trip_type` because they have a small number of unique values.

In [66]:
from sklearn.preprocessing import OneHotEncoder

# Instantiate the OneHotEncoder
encoder = OneHotEncoder()

# Fit the encoder to the categorical columns and transform the data
one_hot_encoded = encoder.fit_transform(df[['sales_channel', 'trip_type']])

# Convert the one-hot encoded result to a DataFrame
one_hot_df = pd.DataFrame(one_hot_encoded.toarray(), columns=encoder.get_feature_names_out(['sales_channel', 'trip_type']))

# Concatenate the one-hot encoded DataFrame with the original DataFrame
df = pd.concat([df, one_hot_df], axis=1)

# Drop the original categorical columns if needed
# df = df.drop(['sales_channel', 'trip_type'], axis=1)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 59 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   num_passengers                          50000 non-null  int64
 1   sales_channel                           50000 non-null  object
 2   trip_type                               50000 non-null  object
 3   purchase_lead                           50000 non-null  int64
 4   length_of_stay                          50000 non-null  int64
 5   flight_hour                             50000 non-null  int64
 6   flight_day                              50000 non-null  object
 7   route                                   50000 non-null  object
 8   booking_origin                          50000 non-null  object
 9   wants_extra_baggage                     50000 non-null  bool
 10  wants_preferred_seat                    50000 non-null  bool
 11  wants_in_flight_meals                   50000 non-null  bool
 12  flight_duration                         50000 non-null  float64
 13  booking_complete                        50000 non-null  bool
 14  purchase_lead_hours                     50000 non-null  float64
 15  length_of_stay_hours                    50000 non-null  float64
 16  time_of_day_preference                  50000 non-null  object
 17  flight_day_encoded                      50000 non-null  float64
 18  is_weekend_flight                       50000 non-null  int64
 19  length_of_stay_hours_binned             50000 non-null  category
 20  purchase_lead_hours_binned              50000 non-null  category
 21  flight_duration_binned                  50000 non-null  category
 22  wants_extra_baggage_and_preferred_seat  50000 non-null  bool
 23  wants_meals_and_preferred_seat          50000 non-null  bool
 24  wants_extra_baggage_and_meals           50000 non-null  bool
 25  wants_all_services                      50000 non-null  bool
 26  wants_seat_and_meals_but_no_baggage     50000 non-null  bool
 27  wants_baggage_and_meals_but_no_seat     50000 non-null  bool
 28  wants_baggage_and_seat_but_no_meals     50000 non-null  bool
 29  total_preferences                       50000 non-null  int64
 30  avg_purchase_lead_sales                 50000 non-null  float64
 31  std_purchase_lead_sales                 50000 non-null  float64
 32  avg_length_of_stay_sales                50000 non-null  float64
 33  std_length_of_stay_sales                50000 non-null  float64
 34  avg_purchase_lead_trip                  50000 non-null  float64
 35  std_purchase_lead_trip                  50000 non-null  float64
 36  avg_length_of_stay_trip                 50000 non-null  float64
 37  std_length_of_stay_trip                 50000 non-null  float64
 38  variance_flight_duration_by_route       49937 non-null  float64
 39  variance_flight_day_by_route            49937 non-null  float64
 40  variance_flight_duration_by_origin      49973 non-null  float64
 41  variance_flight_day_by_origin           49973 non-null  float64
 42  origin_latitude                         50000 non-null  float64
 43  origin_longitude                        50000 non-null  float64
 44  origin_city                             50000 non-null  object
 45  origin_timezone                         50000 non-null  object
 46  dest_latitude                           50000 non-null  float64
 47  dest_longitude                          50000 non-null  float64
 48  dest_city                               50000 non-null  object
 49  dest_timezone                           50000 non-null  object
 50  euclidean_distance                      50000 non-null  float64
 51  great_circle_distance                   50000 non-null  float64
 52  flight_hour_sin                         50000 non-null  float64
 53  flight_hour_cos                         50000 non-null  float64
 54  sales_channel_Internet                  50000 non-null  float64
 55  sales_channel_Mobile                    50000 non-null  float64
 56  trip_type_CircleTrip                    50000 non-null  float64
 57  trip_type_OneWay                        50000 non-null  float64
 58  trip_type_RoundTrip                     50000 non-null  float64
dtypes: bool(11), category(3), float64(29), int64(6), object(10)
memory usage: 17.8+ MB

## Feature Importance Analysis

Drop columns that will not be useful in modeling

## Modeling